<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>后台管理中心</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
</head>

<body>
<!--{%for item in datalist%}-->
<a href="<!--{{item.url}}-->" target="_blank"><!--{{item.name}}--></a></li>
<!--{%endfor%}-->
</body>
</html>