<html>
    <header>
        <meta charset="utf-8">
        <title></title>
        <style>
            body {line-height:16pt;font-family:'宋体';font-size:17px;color:#3D3D3D;}
            img {max-width:100%;border:0;}
            iframe {width:300px;height:200px;}
            video {width:300px;height:200px;}
            table {border-collapse:collapse;border-spacing:0px;}
        </style>
    </header>
    <body>
        <!--{{content}}-->
    </body>
</html>