.loading{
    background-color: #fff;
    height: 100%;
    left: 0%;
    opacity: 0.8;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1000;
}
.loadingimg{
    height: 100px;
    left: 41%;
    position: absolute;
    top: 40%;
    width: 100px;
}
.loadingfort{
   color: #FFF;
    left: 35%;
    position: absolute;
    top: 26%;
    fort-size:15px;
}
.selectdialog{
    background-color: #393D49;
    height: 100%;
    left: 0%;
    opacity: 0.8;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 999999;
}