<!--{%extends 'base-layout'%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box box-bordered">
			<div class="box-title">
				<h3><i class="icon-edit"></i>系统设置</h3>
			</div>
			<div class="box-content nopadding">
				<form action="<!--{{url('config/config/save')}}-->" method="POST" class='form-horizontal form-bordered form-validate'>
					<input name="id" type="hidden" value="<!--{{data.id}}-->" />
					<div class="control-group">
						<label for="description" class="control-label">热线电话</label>
						<div class="controls">
							<input type="text" name="hotline" class="input-normal" value="<!--{{data.content}}-->" data-rule-required="true" data-msg-required="不能为空">
						</div>
					</div>
				<div class="control-group">
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					</div>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->