<!--{%extends 'base-layout'%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box box-bordered">
			<div class="box-title">
				<h3><i class="icon-edit"></i>分类信息</h3>
			</div>
			<div class="box-content nopadding">
				<form action="<!--{{url('article/group/save')}}-->" method="POST" class='form-horizontal form-bordered form-validate'>
				<input name="id" type="hidden" value="<!--{{group.agid}}-->" />
				<div class="control-group">
					<label for="description" class="control-label">分类名</label>
					<div class="controls">
						<input type="text" name="title" class="input-normal" value="<!--{{group.title}}-->" data-rule-required="true" data-msg-required="不能为空">
					</div>
				</div>

				<div class="control-group">
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					</div>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->